In [5]:
import pandas as pd
df = pd.read_csv(r"D:\datasheets\titanic.csv")
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [18]:
df.drop(['Name','Pclass','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis='columns',inplace=True)

In [19]:
target = df['Survived']
inputs = df.drop(['Survived'],axis='columns')

In [20]:
dummies = pd.get_dummies(df.Sex)
dummies

     female   male
0     False   True
1      True  False
2      True  False
3      True  False
4     False   True
..      ...    ...
886   False   True
887    True  False
888    True  False
889   False   True
890   False   True

[891 rows x 2 columns]

In [21]:
dummies = dummies.applymap(lambda x:1 if x else 0)

In [22]:
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [23]:
inputs = pd.concat([inputs,dummies],axis='columns')

In [24]:
inputs

     PassengerId     Sex   Age  female  male
0              1    male  22.0       0     1
1              2  female  38.0       1     0
2              3  female  26.0       1     0
3              4  female  35.0       1     0
4              5    male  35.0       0     1
..           ...     ...   ...     ...   ...
886          887    male  27.0       0     1
887          888  female  19.0       1     0
888          889  female   NaN       1     0
889          890    male  26.0       0     1
890          891    male  32.0       0     1

[891 rows x 5 columns]

In [27]:
inputs = inputs.drop('Sex',axis='columns')

In [28]:
inputs

     PassengerId   Age  female  male
0              1  22.0       0     1
1              2  38.0       1     0
2              3  26.0       1     0
3              4  35.0       1     0
4              5  35.0       0     1
..           ...   ...     ...   ...
886          887  27.0       0     1
887          888  19.0       1     0
888          889   NaN       1     0
889          890  26.0       0     1
890          891  32.0       0     1

[891 rows x 4 columns]

In [31]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [34]:
inputs.Age.isna().sum()

177

In [35]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [36]:
inputs.Age.isna().sum()

0

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(inputs,target,test_size =0.2)

In [43]:
len(x_train)

712

In [44]:
len(x_test)

179

In [45]:
    len(y_train)

712

In [46]:
len(y_test)

179

In [59]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [48]:
model.fit(x_train,y_train)

GaussianNB()

In [49]:
model.score(x_test,y_test)

0.8044692737430168

In [50]:
x_test

     PassengerId        Age  female  male
351          352  29.699118       0     1
707          708  42.000000       0     1
86            87  16.000000       0     1
778          779  29.699118       0     1
113          114  20.000000       1     0
..           ...        ...     ...   ...
775          776  18.000000       0     1
547          548  29.699118       0     1
861          862  21.000000       0     1
38            39  18.000000       1     0
844          845  17.000000       0     1

[179 rows x 4 columns]

In [55]:
y_test[:10]

351    0
707    1
86     0
778    0
113    0
598    0
723    0
515    0
612    1
588    0
Name: Survived, dtype: int64

In [56]:
model.predict(x_test[:10])

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0], dtype=int64)

In [61]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

from sklearn.model_selection import cross_val_score
cross_val_score(model,x_train,y_train,cv=5)

array([0.75524476, 0.78321678, 0.79577465, 0.78873239, 0.78873239])

# Spam Detection

In [62]:
import pandas as pd
df = pd.read_csv(df

In [63]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [68]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [69]:
df['spam'] =df['Category'].apply(lambda x:1 if x=='spam'else 0)

In [70]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will Ã¼ b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [72]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message,df.spam)

In [75]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

x_train_count  = v.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [76]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

model.fit(x_train_count,y_train)

MultinomialNB()

In [77]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [78]:

email_counts = v.transform(emails)
model.predict(email_counts)

array([0, 1], dtype=int64)

In [80]:
x_test_count = v.transform(x_test)
model.score(x_test_count,y_test)

0.9842067480258435

# Sklearn Pipeline (Automatic countvectorizer conversion using pipeline

In [83]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [84]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [87]:
clf.predict(emails)

array([0, 1], dtype=int64)

In [88]:
clf.score(x_test,y_test)

0.9842067480258435